 @font-face 
 {
    font-family: 'be vietnam pro';
    src: url('../font/BeVietnamPro-Regular.ttf') format('truetype');
    font-weight: normal;
}

      
body
{
    font-family: 'be vietnam pro', sans-serif;
    background-color: #f3f4f6;
}

/* Header */
header
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow:row nowrap;
    padding: 0 50px;
    background-color: #ffffff;
    box-shadow: 0px, 4px, 5px, rgba(0, 0, 0, 0.1);
    height: 90px;
}
/* logo */
header a i
{
    font-size: 3rem;
    color: #2a2a2a;
}

/* menu */
nav ul
{
    display: flex;
    list-style: none;
    gap: 40px;
    font-weight: bold;

}
nav ul li a
{
    color: black;
    font-size: 1.3rem;
    text-decoration: none;
}
nav ul li a:hover
{
    color: #aface2;
}
nav ul li.active a
{
    color: #4F46E5;
    font-weight: bold;
}

/* đăng nhập/đăng ký */
header div
{
    display: flex;
    gap: 20px;
    align-items: center;
}
header div a
{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
}
.dangnhap
{
    color: #606060;
}
.dangky
{
    color:white;
    background-color: #4F46E5;
    padding: 8px 18px;
    border-radius: 10px;
}

main 
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

/* footer */
footer
{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
